*{
    margin:0;
    padding:0;
}
.context{
    border:solid black;
    background-color: black;
    color: white;
    text-align:center;
    padding:20px 10px 20px 10px;
    
  
    
    
}
.mac{
    width:15px;
    height:auto;

}
.navi{
    margin:20px;
}
.head{
   background-color: blanchedalmond;
}
.content{
    font-size: 60px;
    margin:30px;
    
}
.img-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    

    
}
img{
    height:88px;
    width:135px;
}
 /* .sub-sec{
    margin-left:60px;
    font-size: 25px; */

.section-1{
    display: flex;
    justify-content: space-around;
}
.bodycontainer{
    width:95%;
    margin:auto;
}
.sub-sec{
    margin-top: 50px;
}
