*{
    margin:0;
    padding:0;
}
.context{
    border:solid black;
    background-color: black;
    color: white;
    text-align:center;
    padding:20px 10px 20px 10px;
    
  
    
    
}
.mac{
    width:15px;
    height:auto;

}
.navi{
    margin:20px;
}
.head{
   background-color: blanchedalmond;
}
.content{
    font-size: 60px;
    margin:30px;
    
}
.img-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    

    
}
img{
    height:88px;
    width:135px;
}
 /* .sub-sec{
    margin-left:60px;
    font-size: 25px; */

.section-1{
    display: flex;
    justify-content: space-around;
}
.bodycontainer{
    width:95%;
    margin:auto;
}
.sub-sec{
    margin-top: 60px;
}
.img-8{
    display: flex;
    margin-top:5rem;
    width:100%;
    /* justify-content: space-between; */
    
    
}
.img{
    margin:7px;
    /* height:45vh; */
    /* width:18vw; */
}
.img-2{
    width: 400px;
    height:500px;
    background-image:url(./images/img1/store-card-40-iphone-15-202309.jpeg) ;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    border-radius: 20px;
}

.img-3{
    width: 400px;
    height:500px;
background-image: url(./images/img1/ipad.jpeg);
background-repeat: no-repeat;
    background-size: cover;
    color: white;
    border-radius: 20px;
    
}
.img-4{
    width: 400px;
    height:500px;
    background-image:url(./images/img1/mac.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    color:black;
    border-radius: 20px;
}
.img-5{
    width: 400px;
    height:500px;
    background-image: url(wrk4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    border-radius: 20px;
}
.img-2-2{
    padding-left: 50px;
}
