*{
    margin:0;
    padding:0;
}
.context{
    border:solid black;
    background-color: black;
    color: white;
    text-align:center;
    padding:20px 10px 20px 10px; 
}
.mac{
    width:15px;
    height:auto;

}
.navi{
    margin:20px;
    
}
a{
    text-decoration: none;
    color:white;
}
.nav3{
    display: flex;
    justify-content: space-between;
    padding: 50px;
text-align: center;
}
.nav-3{
    font-size: 80px;
}

.nav-4{
    font-size: 30px;
}
.img-1{
 position:relative;

top:2rem;
left:4rem;
height:40px;
object-fit: cover;
text-align: center;
justify-content: center;
}
.nav-5{
   position: relative;
   top:44rem;
   left: 30px;
    font-size: 25px;
}
.img-8{
    display: flex;
    position: relative;
    top:47rem;
}
.img{
    margin:5px;
    height:75vh;
    width:38vw;
}
.img-2{
    background-image:url(wrk1.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.img-3{
background-image: url(wrk2.jpg);
background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.img-4{
    background-image:url(wrk3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.img-5{
    background-image: url(wrk4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    border-radius: 20px;
}
.img-2-2{
    padding-left: 50px;
}